html, body {
    width: 100%;
    min-height: 150vh;
    background: #4d648d;
    color: #fff5ee ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(60px);
	}
}

svg #wheel {
	animation: scroll ease 2s infinite;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.main-title .author {
    margin-top: 12px;
    font-size: 16px;
}

.author a {
    color:  #ffcc5c;
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
}

.main-title svg {
    margin-top: 16px;
}

.container {
    width: 95%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.column {
    margin-top: 26px;
    border-bottom: 1px solid #fff5ee;
}

.title {
    font-size: 24px;
    text-align: center;
}

.table-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 26px;
    margin-bottom: 32px;
}

.table-title svg {
    margin-top: 8px;
}

.column span {
    display: block;
    padding: 16px 0;
    text-align: center;
    font-size: 22px;
}

@media(min-width: 850px) {
    .container {
        width: 600px;
    }
    .main {
        display: flex;
        flex-wrap: wrap;
    }
    .column {
        flex: 1 1 50%;
        margin-top: 0;
        padding: 12px;
        border-bottom: 0;
    }
    .column:first-of-type {
        border-right: 1px solid #fff5ee;
    }
}